/* Hero Section */
.hero {
    background: none;
    
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.hero-buttons {
    margin-top: 30px;
}

.hero .btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #f24e30;
}

/* Services Section */
#services {
    padding: 60px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#services h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.service {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-5px);
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service p {
    font-size: 1.1rem;
    color: #333;
}

/* Mobile */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
    }

    .service h3 {
        font-size: 1.3rem;
    }
}
