/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Global font size adjustments */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
